<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3>Peliculas Favoritas</h3>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div *ngFor="let favoritoPorGenero of favoritoPorGeneros">
    <div *ngIf="favoritoPorGenero.pelis.length > 0">
      <ion-grid fixed>
        <ion-row>
          <ion-col>
            <h4>{{favoritoPorGenero.genero}}</h4>
          </ion-col>
        </ion-row>
      </ion-grid>
      <app-slideshow-poster [peliculas]="favoritoPorGenero.pelis" ></app-slideshow-poster>
    </div>
  </div>
</ion-content>
